.form-wrapper {
  position: absolute;
  z-index: 40;
  top: 160px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 20px 0px grey;
  padding: 20px;
  //transform: scale(1);
  transition: all 0.3s ease;
  transform: translateY(-200px);
  transform-origin: top;
  opacity: 0;
  margin: 10px;
}

.overlay {
  background: rgba(27, 79, 97, 0.6);
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  z-index: 25;
}

.show-location-form {
  .form-wrapper {
    transform: translateY(-0%);
    opacity: 1;
  }

  .overlay {
    display: block;
    opacity: 1;
  }
}