.icon-wrapper {
  display: inline-block;
}

.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  position: absolute;
  z-index: 30;
}

.cloud1 {
  right: -50px;
  width: 208px;
  top: 70px;
  animation: Clouds-roll-by infinite 170s linear;
}

.cloud2 {
  left: -80px;
  width: 146px;
  top: 146px;
  animation: Clouds-roll-by2 infinite 200s linear;
}

.cloud3 {
  left: 800px;
  width: 120px;
  top: 180px;
  opacity: .85;
  animation: Clouds-roll-by3 infinite 240s linear;
}

.cloud4 {
  right: 800px;
  width: 130px;
  top: 85px;
  opacity: .8;
  animation: Clouds-roll-by4 infinite 140s linear;
}